
<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let libro of informacion">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{libro.nom_book}}</h5>
              <!--<h6 class="card-subtitle mb-2 text-muted">{{autores.[libro.Author_id].nom_author}}</h6>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>--> 
              <a routerLink="/crearPrestamos" routerLinkActive="active">
                <button>Prestamos</button>
              </a>
            </div>
          </div>
    </div>
  </div>
</div>







