
<div class="container">
    <h1 >Biblioteca</h1>
<table class="table">
  <tbody>
    <tr>
      <td><a routerLink="/books" routerLinkActive="active"><button class="btn btn-primary btn-lg btn-block">Ver Libro</button></a></td>
      <td><a routerLink="/crearLibro" routerLinkActive="active"> <button class="btn btn-secondary btn-lg btn-block">Agregar Libro</button></a></td>
    </tr>
    <tr>
      <td><a routerLink="/loans" routerLinkActive="active"><button class="btn btn-primary btn-lg btn-block">Ver Prestamos</button></a></td>
      <td><a routerLink="/crearPrestamos" routerLinkActive="active"> <button class="btn btn-secondary btn-lg btn-block">Agregar Prestamos</button></a></td>
    </tr>
    <tr>
      <td><a routerLink="/authors" routerLinkActive="active"><button class="btn btn-primary btn-lg btn-block">Ver Autores</button></a></td>
      <td><a routerLink="/crearAutor" routerLinkActive="active"> <button class="btn btn-secondary btn-lg btn-block">Agregar Autores</button></a></td>
    </tr>
    <tr>
      <td> <a routerLink="/students" routerLinkActive="active"><button class="btn btn-primary btn-lg btn-block">Ver Estudiantes</button></a></td>
      <td><a routerLink="/crerEstudiante" routerLinkActive="active"> <button class="btn btn-secondary btn-lg btn-block">Agregar Usuarios</button></a></td>
    </tr>
  </tbody>
</table>
</div>



  

  

 